@model IEnumerable<SchedulingAdminTool.DATA.EF.StudentStatus>

@{
    ViewBag.Title = "Student Statuses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<div class="container">
    <h2>@ViewBag.Title</h2>


    <p>
        <a href="@Url.Action("IndexTiles", "StudentStatus")" class="pull-right btn btn-success">Grid View</a>
    </p>
    <p>
            <a href="@Url.Action("Create", "StudentStatus")">Add New Student Status</a>
        </p>
    <table class="table" id="data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SSName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SSDescription)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SSName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SSDescription)
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "StudentStatus", new { id = item.SSID })">
                            Details |
                        </a>
                        <a href="@Url.Action("Edit", "StudentStatus", new { id = item.SSID })">
                            Edit |
                        </a>
                        <a href="@Url.Action("Delete", "StudentStatus", new { id = item.SSID })">
                            Delete
                        </a>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.SSID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.SSID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.SSID })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable();
        });
    </script>
}
