<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Surviving Centriq - @ViewBag.Title</title>
    <meta name="author" content="Jacob Woodworth & Danielle Smalley" />
    <meta name="keywords" content="Scheduling, Admin, Tool, Scrum, Agile, Methodologies, Source Control, Pair Programming, Centriq Training, PMD, Enrollment" />
    <meta name="description" content="PMD Scheduling Admin Tool">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--
    Highway Template
    https://templatemo.com/tm-520-highway
    -->
    @*<link rel="apple-touch-icon" href="apple-touch-icon.png">*@
    @*<link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="~/Content/css/fontAwesome.css">
        <link rel="stylesheet" href="~/Content/css/light-box.css">
        <link rel="stylesheet" href="~/Content/css/templatemo-style.css">*@

    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Carter+One&family=Crete+Round:ital@1&family=Cuprum:wght@600&family=Playball&family=Tourney:wght@700&family=Yellowtail&display=swap" rel="stylesheet">


    @Styles.Render("~/Content/css")

    @*<script src="~/Scripts/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>*@
</head>

<body>

    <nav>
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">Upside Down<em> University</em></a>
        </div>
        <div class="menu-icon">
            <span></span>
        </div>
    </nav>

    @RenderBody()

    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="text-center">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div class="text-center">
                            <h4 style="font-size: x-large">
                                <a href="~/Content/UpsideDownUniversity.pdf" target="_blank">View Project Documentation</a>
                            </h4>
                        </div>

                    }
                    Copyright &copy; 2021 Jacob Woodworth & Danielle Smalley
                    @*| Designed by TemplateMo*@
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal button -->
    @*<div class="popup-icon">
            <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
        </div>*@

    <!-- Modal -->
    @*<div id="modal" class="modal">
            <!-- Modal Content -->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="header-title">Say hello to <em>Highway</em></h3>
                    <div class="close-btn"><img src="img/close_contact.png" alt=""></div>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="col-md-6 col-md-offset-3">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@



    <section class="overlay-menu">
        <div class="container">
            <div class="row">
                <div class="main-menu">

                    <ul>
                        <li>
                            <a href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        @*<li>
                <a href="@Url.Action("About","Home")">About</a>
            </li>*@
                        <li>
                            <a href="@Url.Action("Contact","Home")">Contact</a>
                        </li>

                        @if (Request.IsAuthenticated && User.IsInRole("Scheduling") || User.IsInRole("Admin"))
                        {

                            <li>
                                <a href="@Url.Action("Index", "Enrollments")">Enrollments</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "ScheduledClasses")">Scheduled Classes</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Students")">Students</a>
                            </li>
                        }

                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="@Url.Action("CoursesTable", "GridFilter")">Courses</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "StudentStatus")">Student Status</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "UsersAdmin")">Users</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "RolesAdmin")">Roles</a>
                            </li>

                        }
                        <p>Survival Musts for the developer in the Centriq Upside Down.</p>
                    </ul>
                    <div>
                        @Html.Partial("_LoginPartial")
                    </div>
                    @*<p>Survival Musts for the developer in the Centriq Upside Down.</p>*@
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Scripts/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    @*<script src="~/Scripts/js/vendor/bootstrap.min.js"></script>
        <script src="~/Scripts/js/plugins.js"></script>
        <script src="~/Scripts/js/main.js"></script>*@

    @Scripts.Render("~/bundles/template")
    @RenderSection("scripts", required: false)

</body>
</html>